streamlit>=1.28.0
langchain-core>=0.1.0
langgraph>=0.0.50
langchain-huggingface>=0.0.1
python-dotenv>=1.0.0
langchain-groq>=0.0.1
langgraph-checkpoint-sqlite
langchain_community
duckduckgo-search
ddgs
langchain-tavily
aiosqlite
langchain-mcp-adapters
aiohttp
langchain-community
langchain
faiss-cpu
pypdf
